{% extends 'patients/base.html' %}
{% block body %}
    <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <table class="table table-condensed table-striped table-hover active">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>more data here</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doctor in object_list %}
                                <tr id="patient-link">
                                  <th scope="row">{{ patient.id }}</th>
                                    <td>{{ doctor.name }}</td>
                                    <td>{{ doctor.specialty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table><!-- End table -->
                </div><!--end col-lg-6 -->
            </div><!--End row -->
    </div><!-- End container -->

{% endblock %}