{% extends 'patients/base.html' %}
{% block title %}Patients List{% endblock %}


{% block body %}
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-condensed table-striped table-hover active">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>past medical History</th>
                              <th>Last doctor </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in object_list %}
                                <tr id="patient-link">
                                  <th scope="row">{{ patient.id }}</th>
                                    <td><a href="{% url 'patients:patient_detail' patient.id %}">{{ patient.name }}</a></td>
                                    <td>{{ patient.past_medical_history }}</td>
                                    <td>{{ patient.doctor_assigned.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table><!-- End table -->
                </div><!--end col-lg-6 -->
            </div><!--End row -->
    </div><!-- End container -->

{% endblock %}