{% include 'patients/base.html' %}
{% block title %}Patient details{% endblock %}
{% block body %}
    <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <table class="table table-condensed table-striped table-hover active">
                        <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Age</th>
                              <th>Telephone Number </th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr id="patient-link">
                                  <th scope="row">{{ patient.id }}</th>
                                    <td>{{ patient.name }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </tbody>
                    </table><!-- End table -->
                </div><!--end col-lg-6 -->
            </div><!--End row -->
    </div><!-- End Container -->

{% endblock %}